{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
        {time_compat, ".*", {git, "git://github.com/lasp-lang/time_compat.git",  {branch, "master"}}},
        {lager,	      "3.5.1",  {git, "git://github.com/erlang-lager/lager.git", {tag,    "3.5.1"}}},
        {riak_dt, "2.1.0",  {git, "git://github.com/plumlife/riak_dt.git",	 {branch, "plumlife/appup_fix"}}},
        {lets,     {git, "git://github.com/plumlife/lets.git", 			 {tag, "2.0.1"}}},
        {eqc, ".*", {git, "git://github.com/rpt/eqcmini.git"}}
       ]}.

{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
